*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #131313;
}


.header{
    width: 100%;
    background: #131313;
    height: 83px;
    align-items: center;
}

.container{
    max-width: 1438px;
    margin: 0 auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 24px;
}

.logo{
    margin-right: 80px;
    padding-bottom: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #E3B873;
    text-transform: uppercase;
}

.main-item{
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;
    color: #E3B873;
}


.nav__item{
    margin-right: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
     /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;

}

.menu__contacts{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.phone{
    margin-left: 120px;
    margin-right: 45px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline; 
    color: #E3B873;
}

.contacts__button{
    padding: 13px 21px 14px 20px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button--primary{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(/img/room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 175vh;
}

.instagram{
    display: flex;
    margin: 0;
    align-items: center; 
    flex-direction: row;
    height: 789px;
    font-weight: 400;
    font-size: 14px;
    width: 91px;
    text-decoration: none;
    background-color:#131313;
}

.instagram__link{
    margin-right: 4px;
    color: #E3B873;
    text-transform: uppercase;
    text-decoration: none;
    transform: rotate(90deg);
}


.instagram__link:after {
    content: '';
    width: 50px;
    height: 10px;
    background-color: #e3b873;
    margin-left: 8px;
}

.hero__content{
    display: flex;
    padding-left: 60px;
}

.title{
    padding-top: 191px;
    margin-bottom: 19px;
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: white;
}

.hero__city{
    color: #E3B873;
}

.hero__text{
    width: 504px;
margin-bottom: 41px;
font-weight: normal;
font-size: 22px;
line-height: 30px;
color: white;
}

.buttons{
    align-items: center;
}

.hero__button{
    height: 51px;
    font-family: FuturaDemiC;
    font-weight: 500;
font-size: 13px;
line-height: 15px;
text-transform: uppercase;
color: white;
}

.button--success{
    padding: 19px 26px 16px 26px;
    color: white;
    background: #E3B873;
}

.button--outline{
padding: 19.09px 23px 20.57px 22px;
margin-left: 40px;
border: 1px solid #FFFFFF;
background: rgba(0, 0, 0, 0);
border-radius: 2px;
}

.scroll-down{
    position: absolute;
    display: block;
    margin-top: 740px;
    padding: 34px 49px 34px 48px;
    width: 250px;
    height: 97px;
    background-color: #131313;
    color: white;
}

.scroll--mouse{
    margin-left: 12px;
}