.button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase; }
  .button--primary {
    background-color: #e3b873;
    color: #fff; }

.container {
  max-width: 1256px;
  margin: auto; }

.header {
  background-color: #131313;
  padding: 24px 0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  color: #e3b873;
  text-transform: uppercase; }

.nav__item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 40px; }

.phone {
  color: #e3b873; }

.contacts__phone {
  margin-right: 45px; }

body {
  font-family: sans-serif;
  font-size: 14px; }
