@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/futura/FuturaBookC.woff") format("woff"), url("../fonts/futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/futura/FuturaDemiC.woff") format("woff"), url("../fonts/futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

.button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase; }
  .button--primary {
    background-color: #e3b873;
    color: #fff; }
  .button--outline {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; }

.container {
  width: 85%;
  max-width: 1256px;
  margin: auto; }

.block {
  -webkit-animation: show 2s ease 2s infinite;
  animation: show 2s ease 2s infinite; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #131313;
  padding: 24px 0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  color: #e3b873;
  text-transform: uppercase; }

.nav__item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 40px; }

.phone {
  color: #e3b873; }

.contacts__phone {
  margin-right: 45px; }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background: #131313 url("../img/room.jpg") no-repeat center/cover;
  height: 100vh;
  color: #fff; }
  .hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.7); }
  .hero__content {
    position: relative;
    max-width: 670px; }
  .hero__text {
    font-size: 22px;
    max-width: 500px; }
  .hero__button {
    margin-right: 20px; }
  .hero__instagram {
    position: absolute;
    max-width: 80px;
    height: 100%;
    top: 0; }
  .hero__scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 247px;
    min-height: 97px;
    background-color: #131313;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; }
    .hero__scroll-down::after {
      content: '';
      background: url("../img/yes.svg") no-repeat center;
      width: 30px;
      height: 30px;
      border: 2px solid #e3b873;
      border-radius: 50%;
      margin-left: 12px; }

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313; }
  .instagram__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #e3b873;
    transform: rotate(90deg);
    line-height: 0.8; }
    .instagram__link::after {
      content: '';
      width: 50px;
      height: 1px;
      background-color: #e3b873;
      margin-left: 8px; }

.title {
  margin: 0;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 40px; }
  .title--primary {
    color: #e3b873; }

.footer-policy-link {
  font-size: 12px; }

.footer {
  margin-top: 60px;
  background-color: #131313;
  padding: 59px 0;
  color: #666666; }

p {
  margin-bottom: 14px; }

a {
  color: #666666;
  text-decoration: none; }

a:hover {
  color: #ffffff; }

small {
  display: block;
  margin-top: 56px;
  line-height: 16px;
  font-size: 10px;
  min-width: 80%; }

ul {
  padding: 0;
  list-style: none; }

ul li {
  line-height: 32px; }

.footer-contacts, .footer-social-links {
  text-align: right; }

.footer-contacts_phone {
  font-weight: 400;
  font-size: 20px;
  color: #009adf; }

.footer-social-links li {
  display: inline-block; }
  .footer-social-links li a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    background-repeat: 50%;
    line-height: 42px;
    margin-left: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; }
  .footer-social-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #131313; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Futura Book', sans-serif;
  font-size: 14px; }
