.design
    padding-bottom: 30rem
    &__section-title
        margin-bottom: 2.78rem
        font-family: 'Yeseva One', cursive
    &__section-text
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        max-width: 52.92rem
        font-family: 'Futura Book', cursive 
        font-size: 1.42rem
        line-height: 1.8rem
        text-transform: none
    &__section-image
        margin-bottom: 1.71rem 
    &--card__pricetag
        padding: 1rem 5.55rem 1.21rem 2.35rem
        position: absolute
        left: 0       
        font-size: 1.28rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        background-color: $primary
        color: $light