.footer-policy-link
  font-size: 12px

.footer
    margin-top: 60px
    background-color: $dark
    padding: 59px 0
    color: $grey

p 
    margin-bottom: 14px

a 
    color: $grey
    text-decoration: none
    
a:hover 
    color: #ffffff

small
    display: block
    margin-top: 56px
    line-height: 16px
    font-size: 10px
    min-width: 80%

ul 
     padding: 0
     list-style: none

ul li 
    line-height: 32px

.footer-contacts, .footer-social-links
    text-align: right

.footer-contacts_phone
    font-weight: 400
    font-size: 20px
    color: #009adf

.footer-social-links li 
  display: inline-block

  a 
      display: inline-block
      width: 42px
      height: 42px
      background-color: $back
      text-align: center
      background-repeat: 50%
      line-height: 42px
      margin-left: 10px
      transition: all 0.2s
      -webkit-transition: all 0.2s

  a:hover 
      background-color: $back
      color: $dark
